*
!backend/alembic
!backend/alembic.ini
!backend/poetry.lock
!backend/pyproject.toml
!backend/tero
backend/tero/__pycache__
!common/src
!common/package.json
!common/tsconfig.json
!docker
!frontend
frontend/node_modules
frontend/.vite
frontend/components.d.ts
frontend/dist
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!sample.env
